*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui;
    color: rgb(44, 32, 38);
    
}
html {
    font-size: 60%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root {
    --bg-color: rgb(0, 0, 0);
    --second-bg-color: rgb(233, 173, 193);
    --text-color: rgb(233, 173, 193);
    --main-color: rgb(189, 50, 80);
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 3rem 12%;
    background: black;
    backdrop-filter: blur (10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor:pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);
}
span{
    color: var(--main-color)
}

.navbar a{
    font-size: 1.9rem;
    -webkit-text-fill-color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid tramsporent;
    transition: 0.3s ease;
}

.navbar a:hover{
    border-bottom: 3px solid var(--main-color)
}
section{
    min-height: 100vh;
    padding: 10rem 12%;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-img img{
    align-items: right;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: right;

}

.home-content h1{
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}

.home-content h3{
    font-size: 4rem;
    margin: 1.9rem 0;
}

.home-content p{
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2;
}



.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: var(--second-bg-color)
}

.about-img img{
    width: 20vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

.about-content h2{
    font-size: 7rem;
    text-align: left;
}

.about-content p{
    margin-top: 2.2rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2;
}

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.more{
    background-color: var(--bg-color);
    color: #000;
}

.more h2{
    color: var(--text-color);
    font-size: 7rem;
    text-align: center;
}

.more-content p{
    margin-top: 2.2rem;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2;
}
.more-container{
    align-items: center;
}

footer{
    background-color: var(--bg-color);
    padding: 50px 0;
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
    -webkit-text-fill-color: var(--text-color);
}

