body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4cdaf;
}

table {
    margin: 30px auto;
    border-collapse: collapse;
    width: 60%;
    background-color: white;
}

th, td {
    padding: 12px;
    border: 1px solid #613c22;
}

th {
    background-color: #613c22;
    color: white;
}

tbody tr:hover {
    cursor: pointer;
}

/* plugin styling */
.highlight {
    background-color: #ffe6cc;
}